h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #475c98;
}
body {
  background: #475c98 url(../../images/misc/background_buildings.png);
  margin-top: 30px;
}
p {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.4em;
  color: #586e75;
  padding: 0 2%;
}
.container {
  background: #fdf5e3;
  border-radius: 60px 0 0 0;
}
@media (max-width: 767px) {
  .container {
    border-radius: 20px 0 0 0;
  }
}
.main {
  background: #fdf5e3;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar,
.carousel {
  margin-bottom: 0;
}
.main > article {
  margin: 0 5%;
}
.sidebar > aside {
  padding-right: 5%;
}
@media (max-width: 767px) {
  .sidebar > aside {
    padding-left: 5%;
  }
}
aside h2 {
  font-size: 1.8em;
  color: #d33682;
  border-bottom: 1px dotted #475c98;
}
#branding img {
  margin: 10px 0 5px 25px;
  max-width: 450px;
}
@media (max-width: 767px) {
  #branding img {
    margin: 10px 0 5px 10px;
    width: 90%;
  }
}
.accordion-heading {
  background: #475c98;
}
.accordion-heading a {
  color: #fff;
  margin-left: 5px;
}
.accordion-group {
  border-bottom: 3px solid white;
}
.accordion-body p:first-child {
  margin-top: 5px;
}
.aboutthevenues article {
  margin: 0;
  padding: 0;
}
.aboutthevenues h2 {
  padding: 0;
  padding-bottom: 0;
  border-bottom: 1px dotted #475c98;
}
.aboutthevenues h3 {
  color: #d33682;
  font-size: 1.5 em;
}
.nav-tabs li a {
  color: #475c98;
}
.nav-tabs li.active a {
  background: #fdf5e3;
  color: #d33682;
  font-weight: bold;
}
.nav-tabs li a:hover {
  background: #d33682;
  color: white;
}
.tab-content h3,
.tab-content h4 {
  margin: 0;
  padding: 0;
}
.tab-content h3 {
  color: #d33682;
  line-height: 1em;
}
.tab-content p {
  padding: 0;
  padding-top: 10px;
}
.photogrid img {
  width: 96px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
@media (max-width: 990px) {
  .photogrid img {
    width: 64px;
  }
}
footer nav.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
footer nav.col-lg-12 ul.breadcrumb {
  background: purple;
  margin: 0 auto;
  text-align: center;
  border-radius: 0;
}
footer nav.col-lg-12 ul.breadcrumb li {
  text-shadow: none;
}
footer nav.col-lg-12 ul.breadcrumb li a {
  color: white;
}
.navbar .nav > li > .dropdown-menu {
  top: 30px;
}
/*ScrollSpy styles*/
.affix {
  width: 200px;
}
.affix-top {
  position: fixed;
  width: 200px;
}
.affix-bottom {
  position: fixed;
  width: 200px;
}
.scrollspy .nav {
  background: #475c98;
  margin-top: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media (max-width: 979px) {
  .scrollspy .nav {
    width: 15%;
    max-width: 120px;
  }
}
@media (min-width: 980px) (max-width: 1199) {
  .scrollspy .nav {
    width: 13%;
    min-width: 120px;
  }
}
@media (min-width: 1200px) {
  .scrollspy .nav {
    width: 13%;
    max-width: 180px;
  }
}
.scrollspy .nav li {
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #374775;
  border-top: 1px solid #5e74b4;
}
.scrollspy .nav li a {
  color: white;
  width: 100%;
}
.scrollspy .nav li a:hover {
  background: #fdad22;
  color: black;
}
.scrollspy .nav li.active a {
  color: black;
  /*background: @pink;*/
}
.scrollspy .nav li:first-child {
  border-top: none;
}
.scrollspy .nav li:last-child {
  border-bottom: none;
}
/*Form styles*/
form #register-button {
  margin-top: 20px;
}
form select#reference {
  width: 58%;
}
