/*ScrollSpy styles*/
.affix {
  width: 200px;
}
.affix-top {
  position: fixed;
  width: 200px;
}
.affix-bottom {
  position: fixed;
  width: 200px;
}
/*Form styles*/
form #register-button {
  margin-top: 20px;
}
form select#reference {
  width: 58%;
}
